* {
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: rgb(200, 249, 255);
    font-family: Verdana;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    background-image: url(https://i.pinimg.com/736x/90/3c/e8/903ce82d065d12a760eeafe2aec9935a.jpg);
    opacity: 0.5;
    width: 80%;
    font-size: 5svh;
    border-radius: 40px;
    flex-wrap: wrap;
    max-height: auto;
    overflow: hidden;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 5rem;
}

.audio {
    display: block;
    text-align: center;
    font-size: 2rem;
}

.main-text {
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
    background-image: url(img.jpg);
    width: 80%;
    max-width: 50svw;
    min-height: auto;
    border-radius: 5rem;
    box-shadow: 0 0 100px #4f9;
    line-height: 3rem;
    padding: 1.5rem;
}
p, h1, h2, .pokemon-imagen {
    background: none;
}

 .pokemon-imagen img{
    margin: 0 auto;
    width: 80%;
    border-radius: 4rem;
    border: 1px solid black;
 }


